<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_04_Strings.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Convert to Uppercase (1.4.1)

In [3]:
# Code Needed
job_title = 'data scientist'
job_title.upper()

#Below the different way
job_title_upper = job_title.upper()
print(job_title_upper)

DATA SCIENTIST

---

## ðŸŸ© Replace Substring (1.4.2)

In [5]:
# Code Needed
job_title = 'Data Analyst'
job_title_replaced = job_title.replace("Analyst", "Engineer")
print(job_title_replaced)

Data Engineer

---

## ðŸŸ¨ Concatenate Strings (1.4.3)

In [8]:
# Code Needed
seniority_level = 'Senior'
job_title = 'Data Analyst'

f"{seniority_level} {job_title}"

#Below the different way
full_title = seniority_level + " " + job_title
print(full_title)

Senior Data Analyst

---

## ðŸŸ¨ Check String Length (1.4.4)

In [9]:
# Code Needed
job_title = 'Data Scientist'
len(job_title)

14

---

## ðŸŸ© Convert to lowercase (1.4.5)

In [11]:
# Code Needed
job_title = 'DATA ENGINEER'
job_title_lower = job_title.lower()
print(job_title_lower)

data engineer

---