<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_07_Conditional Statements.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Determine Python Experience (1.7.1)

In [4]:
# Code Needed
python_experience = 3

if(python_experience<2):
  print("Beginner")

elif(python_experience>=2):
  print("Intermediate")

#different way :
if python_experience < 2:
    skill_level = 'Beginner'
else:
    skill_level = 'Intermediate'
print(skill_level)

Intermediate
Intermediate

---

## ðŸŸ¨ Determine Job Skill Level (1.7.2)

In [6]:
# Code Needed
tools_known = 3

if(tools_known<=1):
  skill_level = "Beginner"

elif(tools_known<=4):
  skill_level = "Intermediate"

else:
  skill_level = "Advanced"

print(skill_level)

Intermediate

---

## ðŸŸ¥ Determine Job Title (1.7.3)

In [12]:
# Code Needed
job_experience = 4
sql_experience = 2

if(job_experience<2):
  if(sql_experience == 0):
    print("Associate Analyst")
  else:
    print("Junior Analyst")

elif(2<=sql_experience<5):
  if(sql_experience == 0):
    print("Associate Analyst")
  elif(sql_experience==1):
    print("Junior Analyst")
  elif(sql_experience>=2):
    print("Senior Analyst")

else:
  if(0<sql_experience<=2):
    print("Data Analyst")
  else:
    print("Lead Analyst")


#Below the differenet way :
if job_experience < 2:
    if sql_experience == 0:
        job_title = "Associate Analyst"
    else:
        job_title = "Junior Analyst"

elif job_experience > 5:
    if sql_experience >= 3:
        job_title = "Lead Analyst"
    else:
        job_title = "Data Analyst"

else: # 2 to 5 years of experience
    if sql_experience == 0:
        job_title = "Associate Analyst"
    elif sql_experience == 1:
        job_title = "Intermediate Analyst"
    else:
        job_title = "Senior Analyst"

Senior Analyst

---