<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_08_Lists.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Second Job Title (1.8.1)

In [2]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
print(job_titles[1])

Data Analyst

---

## ðŸŸ© Change Third Job Title (1.8.2)

In [4]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = "AI Specialist"
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

---

## ðŸŸ© Slice Job Titles List (1.8.3)

In [5]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
print(job_titles[0:2]) # = first_two_job = job_titles[:2]

['Data Scientist', 'Data Analyst']

---

## ðŸŸ¨ Append Job Title (1.8.4)

In [6]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append("Data Engineer")
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

---

## ðŸŸ¨ Insert Job Title (1.8.5)

In [7]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
# The insert() method in Python is used to add an element at a specific position in a list. -> list.insert(index, element)
job_titles.insert(1, "Business Analyst")
print(job_titles)

['Data Scientist', 'Business Analyst', 'Data Analyst', 'Machine Learning Engineer']

---