<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_09_Dictionaries.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Postings (1.9.1)

In [2]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings["Data Analyst"]

80

---

## ðŸŸ© Add Job Role (1.9.2)

In [6]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings["AI Specialist"] = 30
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

---

## ðŸŸ¨ Remove Job Role (1.9.3)

In [8]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop("Machine Learning Engineer")
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80}

---

## ðŸŸ¨ Merge Dictionaries (1.9.4)

In [10]:
# Code Needed
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
print(job_postings1) # We use the update() method to merge job_postings2 into job_postings1.

# Keys role of update() : Add New Key-Value Pairs, Update Existing Keys, Merge Multiple Key-Value Pairs

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

---

## ðŸŸ¥ Create Nested Dictionary (1.9.5)

In [13]:
job_details = {
    "Data Scientist" : {
        "positing" : 120,
        "avagere_salary" : 120000
    },

    "Data Analyst" : {
        "positing" : 80,
        "avagere_salary" : 80000
    },

    "Machine Learning Engineer" : {
        "positing" : 50,
        "avagere_salary" : 50000
    }
}
print(job_details)

{'Data Scientist': {'positing': 120, 'avagere_salary': 120000}, 'Data Analyst': {'positing': 80, 'avagere_salary': 80000}, 'Machine Learning Engineer': {'positing': 50, 'avagere_salary': 50000}}

---