<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_11_Tuples.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Role (1.11.1)

In [3]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
print(job_roles[1])

Data Analyst

---

## ðŸŸ¨ Add Job Role to Tuple (1.11.2)

In [7]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
extended_job_roles = 'AI Specialist'
extended_job_roles = job_roles + ('AI Specialist',)
#job_roles+=(extended_job_roles,)
print(extended_job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

---

## ðŸŸ¨ Remove Job Role from Tuple (1.11.3)

In [9]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = list(job_roles)
job_roles.remove('Data Analyst')
job_roles = tuple(job_roles)
print(job_roles)

('Data Scientist', 'Machine Learning Engineer')

---

## ðŸŸ¨ Unpack Job Postings Tuple (1.11.4)

In [11]:
# Code Needed
job_postings = (120, 80, 50)

data_scientist_postings = job_postings[0]
data_analyst_postings = job_postings[1]
ml_engineer_postings = job_postings[2]

print(data_scientist_postings)

#below the same result

data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
120
80
50

---

## ðŸŸ¥ Extract Nested Value from Tuple (1.11.5)

In [13]:
# Code Needed
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
print(job_details[2][1])

50

---