<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [11]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for title in job_titles:
  print(title)

Data Scientist
Data Analyst
Machine Learning Engineer

---

## ðŸŸ© Total Job Postings (1.13.2)

In [12]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]
index = 0
total = 0
while index < len(job_postings):
  total += job_postings[index]
  index+=1
print(total)

75

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [13]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index, title in enumerate(job_titles):
  print(f"{index}: {title}")

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [16]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0
while index < len(job_titles):
  if "Engineer" in job_titles[index]:
    print(job_titles[index])
    break
  index+=1

Machine Learning Engineer

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [17]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}
for position, skills in positions_skills.items():
  for skill in skills:
    print(f"The role in {position } requires proficiency in {skill}")


#The outer loop iterates through the dictionary using .items(), which gives both the position (key) and the list of skills (value).
#The inner loop iterates through the list of skills for each position.
#For each skill, a message is printed indicating the role and the required skill.

The role in Data Scientist requires proficiency in Python
The role in Data Scientist requires proficiency in R
The role in Data Analyst requires proficiency in SQL
The role in Data Analyst requires proficiency in Excel
The role in Machine Learning Engineer requires proficiency in Python
The role in Machine Learning Engineer requires proficiency in TensorFlow

---