<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_16_Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Title Contains (1.16.1)

In [3]:
# Code Needed
job_title = 'Data Scientist'
keyword = 'Data'

def job_title_contains(job_title, keyword):
  return keyword in job_title

job_title_contains(job_title,keyword)

True

---

## ðŸŸ© Average Salary (1.16.2)

In [8]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]

def average_salary():
  average = sum(salaries)/len(salaries)
  return average

print(average_salary())
print("****")

def average_salary(salaries):
  return sum(salaries)/len(salaries)

print(average_salary(salaries))

108000.0
****
108000.0

---

## ðŸŸ¨ Salary Statistics (1.16.3)

In [10]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]

def salary_statistics(salaries):
  return {
      "Min" : min(salaries),
      "Max" : max(salaries),
      "Sum" : sum(salaries),
      "Average" : sum(salaries)/len(salaries)
      }

salary_statistics(salaries)

{'Min': 90000, 'Max': 130000, 'Sum': 540000, 'Average': 108000.0}

---

## ðŸŸ¥ Job Posting Summary (1.16.4)

In [23]:
def job_posting_summary(job_postings):
  total_postings = len(job_postings)
  total_salary = sum(posting["salary"] for posting in job_postings)
  average_salary = total_salary / total_postings
  unique_locations = list(set(posting["location"] for posting in job_postings))

  return {
      "Total Postings": total_postings,
      "Total Salary": total_salary,
      "Average Salary": average_salary,
      "Unique Locations": unique_locations
  }

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

job_posting_summary(job_postings)

{'Total Postings': 3,
 'Total Salary': 295000,
 'Average Salary': 98333.33333333333,
 'Unique Locations': ['San Francisco', 'New York']}

---