<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_17_Lambda.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Average Salary (1.17.1)

In [3]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]
print((lambda x: sum(x)/len(x))(salaries))

print("****")
average_salary = lambda salary_list: sum(salary_list) / len(salary_list)
average = average_salary(salaries)
average

108000.0
****

108000.0

---

## ðŸŸ¨ Filter Job Titles (1.17.2)

In [8]:
# Code Needed
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
print(list(filter(lambda x: 'Data' in x, job_titles)))

print("****")
contains_data = lambda title: 'Data' in title
filtered_titles = list(filter(contains_data, job_titles))
filtered_titles

['Data Scientist', 'Data Engineer', 'Data Analyst']
****

['Data Scientist', 'Data Engineer', 'Data Analyst']

---

## ðŸŸ¥ Filter Remote Python Jobs (1.17.3)

In [10]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

print(list(filter(lambda job : job["remote"] and "Python" in job["skills"], job_postings)))

print("****")

filter_postings = lambda posting: 'Python' in posting['skills'] and posting['remote']
remote_python_postings = list(filter(filter_postings, job_postings))
remote_python_postings

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True}, {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True}]
****

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]

---