<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_22_NumPy.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create NumPy Array (1.22.1)

In [6]:
import numpy as np
# Code Needed
applications_list = [10, 15, 7, 20, 25, 30, 5]
application_list_array = np.array(applications_list)
print(application_list_array)

[10 15  7 20 25 30  5]

---

## ðŸŸ© Slicing Array (1.22.2)

In [7]:
import numpy as np
# Code Needed
postings_list = [10, 15, 7, 20, 25, 30, 5]
slicing = postings_list[:3]
print(slicing)

[10, 15, 7]

---

## ðŸŸ¨ Highest and Lowest Salary (1.22.3)

In [10]:
import numpy as np
# Code Needed
salaries_list = [70000, 85000, 60000, 95000, 80000]
salaries = np.array(salaries_list)
max_salary = np.max(salaries)
min_salary = np.min(salaries)
print(max_salary)
print(min_salary)

95000
60000

---